.cart-item {
  width: 90%;
  height: 200px;
  /* background-color: #f5f5f5; */
  background-color: white;
  margin: 1.5rem;
  display: flex;
  /* justify-content: center; */
}

.cart-item:hover {
  border: 0.1rem solid rgb(139, 160, 1);
}

.cart-body {
  display: flex;
}

.cart-prod-img {
  width: 180px;
  height: 90%;
  margin: 0.5rem;
}

/* .cart-desc{
    display: flex;
    justify-content: space-around;
} */

.cart-delete {
  border: none;
  width: 3.5rem;
  height: 2.5rem;
  background-color: transparent;
  color: rgba(0, 7, 202, 0.822);
}

.cart-add-remove {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.cart-delete:hover {
  background-color: transparent;
}

.cart-modify {
  display: flex;
  align-items: center;
}
