.order-item {
  background-color: white;
  display: flex;
  /* justify-content: center; */
  width: 80%;
  /* height: 45%; */
  margin: 1rem;
  max-height: 30vh;
}

.order-item img {
  width: 150px;
  margin: 0.5rem;
  max-height: 25vh;
}

.order-item-title {
  font-size: 1rem;
  margin: 0.5rem 0rem;
}
.order-item-brand {
  font-size: 1rem;
  margin: 0.5rem 0rem;
}
.order-rating {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0.5rem 0rem;
}

.order-item-price {
  font-size: 1rem;
  margin: 0.5rem 0rem;
  font-weight: 550;
}

.order-item-date {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0.5rem 0rem;
  font-weight: 550;
  color: rgba(18, 206, 18, 0.879);
}
.order-date {
  font-size: 1.5rem;
  margin: 0.5rem 0rem;
  font-weight: 550;
  color: rgba(18, 206, 18, 0.879);
}
