.product-filter-rating {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-rating-select {
  display: flex;
  margin: 0.25rem 0rem;
}

.filter-brands-selection {
  display: flex;
  flex-direction: column;
}
.brand-filter {
  display: flex;
}

.product-filter-apply {
  width: 100px;
  align-self: center;
}
