.products-item-main {
  background-color: white;
  width: 90%;
  height: auto;
  margin: 0.5rem 1rem;
  display: flex;
}

.products-details {
  display: flex;
  width: auto;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  margin: 1rem 0.5rem;
}

.products-brand {
  margin-top: 0.1rem;
}

.products-title {
  margin-top: 0.35rem;
  cursor: pointer;
}

.products-title:hover,
.products-image:hover {
  text-decoration: dashed;
  color: rgb(18, 251, 18);
  cursor: pointer;
}

.products-rating {
  display: flex;
  margin-top: 0.5rem;
  height: 30px;
  margin-bottom: 0.5rem;
  align-items: center;
}

.products-rating-count {
  margin-left: 0.25rem;
}

.products-image-container {
  /* width: 20rem; Adjust width as needed */
  /* height: 90%; */
  background-color: white;
  /* padding: 0.5rem; */
  /* display: flex;
  justify-content: center; 
  align-items: center;  */
  padding: 1rem;
}

.products-image {
  /* width: 50%; */
  height: 25vh;
  object-fit: contain;
  padding: 0;
}

.products-price {
  font-size: 1.5rem;
}

.add-to-cart {
  width: 25%;
  background-color: rgba(255, 255, 18, 0.811);
}

.add-to-cart:hover {
  background-color: rgb(255, 204, 0);
  border: 1px solid green;
}

.product-redirect:hover {
  text-decoration: none;
  color: green;
  cursor: pointer;
}
