:root {
  --default-font-family: "Helvetica Neue", Arial, sans-serif;
}

input,
select,
textarea,
button {
  outline: 0;
}

.header {
  position: relative;
  width: 100vw;
  height: 80px;
  margin: 0 0 0 0;
  background: #d9d9d9;
  z-index: 2;
}
.grocery-cart-icon {
  position: absolute;
  width: 47px;
  height: 58px;
  top: 0;
  left: 883px;
  background: url(../assets/images/16de7115735ef924eba590552dd30bd98f52c983.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
  border-radius: 44px;
}
.rectangle {
  position: absolute;
  width: 89px;
  height: 51px;
  top: 4px;
  left: 943px;
  font-size: 0px;
  background: #ff961b;
  z-index: 14;
}
.your-orders {
  display: block;
  position: relative;
  height: 15px;
  margin: 18px 0 0 6.23px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.523px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.down-arrow {
  position: relative;
  width: 24.92px;
  height: 28px;
  margin: -10px 0 0 64.08px;
  background: url(../assets/images/3a7fc71d4528d80fb2c94127a2ddd7c8406c6737.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.profile {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 7px;
  left: 1131px;
  background: url(../assets/images/c36965bb3f6cd3944dcfbc946dae661bc6a1ce98.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.rectangle-1 {
  position: absolute;
  width: 79px;
  height: 44px;
  top: 8px;
  left: 1042px;
  background: #e9671e;
  z-index: 8;
}
.hello-krishna {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 57.576px;
  height: 30px;
  top: 7px;
  left: 10.712px;
  color: #0a0a0a;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.523px;
  text-align: left;
  text-overflow: initial;
  z-index: 9;
  overflow: hidden;
}
.amazin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 51px;
  top: 10px;
  left: 9px;
  color: #000000;
  font-family: jsMath-cmmi10, var(--default-font-family);
  font-size: 48px;
  font-weight: 500;
  line-height: 51px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.background {
  position: absolute;
  width: 217.634px;
  height: 34px;
  top: 12px;
  left: 639px;
  background: #fffdfd;
  z-index: 4;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 7px;
  left: 7.634px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.523px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.rectangle-2 {
  position: relative;
  width: 991.5px;
  height: 448.5px;
  margin: 57px 0 0 100px;
  background: url(../assets/images/e4e32851-9718-4f3d-98a2-67b97f917593.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.footer {
  position: relative;
  width: 1192px;
  height: 41px;
  margin: 43.5px 0 0 0;
  background: #d9d9d9;
}
